---
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import CvSection from "../components/CvSection.astro"
---


<BaseLayout>
  <div class="pb-12 mt-5" id="home">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Mihai Sava</div>
    <div class="text-3xl py-3 font-bold">Front-End Developer</div>
    <div class="py-2">
      <text class="text-lg">
        In my 2 years of experience I've developed web applications using technologies like Angular, React and Node.
        I completed <b>Harvard's CS50</b> courses in Computer Science and Web Programming and have finished 20 courses overall.
    
   
        I've developed numerous personal projects in my free time out of passion, including a Pathfinding Visualizer
        that earned <b>3rd place</b> in a local coding competition. 
        <br>
        <br>
        Notably, <b>I've been a speaker</b> at two tech events, presenting web applications, and built a movie
        recommendation app that has achieved a <b>user base of 1,400</b> and reached a peak of <b>100 daily active
        users</b>.
      </text>
    </div>
   
  </div>



  <div>
    <div id="projects" class="text-3xl w-full font-bold mb-2">My projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Movie Picker"
    img="/movie-picker-hero.png"
    desc="Built a web app to help movie lovers to find a Movie or TV Series to watch Fast! You can discover top-rated movies and TV shows to watch on your favorite streaming platform, based on your mood or genres that matches your current vibe."
    url="https://www.moviepicker.app"
    badge="NEW"
  />
  <HorizontalCard
    title="AI Code Challenge App"
    img="/ai-code-challenge.png"
    desc="Developed a game utilizing AI to generate code snippets and evaluate user responses to determine correctness. Built with OpenAI, TypeScript, Angular, SCSS, Node and Express"
    url="https://ai-guess-code-output-production.up.railway.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Pathfinding Visualizer App"
    img="/pathfinding-1.png"
    desc="Developed an interactive visual interface for demonstrating three search algorithms, featuring maze generation, mouse-enabled wall drawing, adjustable start and end points, and pathfinding algorithm selection"
    url="https://celadon-monstera-509a49.netlify.app/"
    badge="Awarded 3rd place"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Home Services Platform"
    img="/home-services.png"
    desc="Created a platform to facilitate collaboration between workers and clients, offering distinct views for each user role. Implemented using React.js, TailwindCSS, React-Redux on the frontend, and Node.js, Express.js, MongoDB, and AWS for the backend"
    url="https://www.youtube.com/watch?v=h3OgPVsbZ9E"
   
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Weather App"
    img="/weather-1.png"
    desc="Developed a weather application with a dynamic custom design based on the weather condition"
    url="https://weather-app-beryl-eta-62.vercel.app/"
   
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Kanban - Task Management App"
    img="/kanban1.jpg"
    desc="I have created a task management app where you can register, create boards and add tasks. The tasks are ordered by 3 columns: To do, Doing and Done and you can update their status as you move forward."
    url="https://www.youtube.com/watch?v=JNeIeC8haQE"
   
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Audiophile - E-commerce Website"
    img="/audiophile-thumbnail.jpeg"
    desc="I have created a visually appealing e-commerce website for a fictional brand called Audiophile, using React, TailwindCSS and Framer Motion"
    url="https://audiophile-website-sigma.vercel.app/"
   
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="WebSavantHub Portfolio - Landing Page"
    img="/web-savant.jpg"
    desc="Built a responsive brand website with a custom design using React, TailwindCss and Framer Motion"
    url="https://web-savant.vercel.app/"

  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Mall Shopping - Landing Page"
    img="/shopping-mall-1.png"
    desc="I've created a responsive landing page for a shopping app with a custom design and animations, using plain HTML, CSS and JavaScript"
    url="https://mihaiwebdev.github.io/Shopping-website/"
   
  />

  <div id="cv" class="mt-5">
    <CvSection></CvSection>
  </div>
</BaseLayout>


<script>
  
</script>