---
import TimeLineElement from "./cv/TimeLine.astro";
---

<div id="experience" class="mb-5 mt-10">
  <div class="text-3xl w-full font-bold">Experience</div>
</div>

<div class="time-line-container mb-10">
  <TimeLineElement
    title="Front-End Developer"
    subtitle="From Oct 2023 - Present at Accesa.eu, Cluj-Napoca, Romania, Hybrid"
  >
    <ul class="list-disc ms-5 mb-3">
      <li class="mb-2">
        Developed custom reusable components in Angular, cutting development
        time for new feature by 20% and ensuring consistent UI across the
        platform.
      </li>
      <li class="mb-2">
        Collaborated closely with UX/UI designers and backend developers to
        implement pixel-perfect designs and integrate RESTful APIs, improving
        overall product cohesion.
      </li>
      <li class="mb-2">
        Automated key development processes, including the generation of API
        services and models with OpenAPI, reducing manual workload by 30%.
      </li>
      <li class="mb-2">
        Led strategic refactoring efforts using clean code principles, enhancing
        project structure and performance, resulting in a 15% reduction in
        codebase complexity.
      </li>
      <li class="mb-2">
        Implemented lazy loading and code splitting techniques, which reduced
        initial page load times by 40%, leading to a boost in user engagement
        and retention.
      </li>
      <li class="mb-2">
        Collaborated with product managers and stakeholders to translate
        business requirements into technical specifications, successfully
        launching new features that increased user satisfaction.
      </li>
    </ul>
  </TimeLineElement>
  <TimeLineElement
    title="Software Engineer Intern"
    subtitle="From July 2023 - Sept 2023 at Accesa.eu, Cluj-Napoca, Romania, Hybrid"
  >
    <ul class="list-disc ms-5 mb-3">
      <li class="mb-2">
        Strengthened team efficiency and knowledge sharing by helping and
        coordinating less experienced colleagues, demonstrating strong
        interpersonal skills and leadership.
      </li>
      <li class="mb-2">
        Took on the most challenging tasks, leading efforts in implementing
        crucial features and solving complex integration issues. Earning the
        status of a go-to problem solver.
      </li>
      <li class="mb-2">
        Presented the project to a 100+ audience on graduation day, chosen as
        "Top Choice" for post-program collaboration.
      </li>
    </ul>
  </TimeLineElement>
  <TimeLineElement
    title="Full-Stack Developer - Freelance"
    subtitle="From Mar 2023 - May 2023 on Upwork, Remote"
  >
    <ul class="list-disc ms-5 mb-3">
      <li class="mb-2">
        Built an E-Commerce website with advanced user functionalities,
        achieving a 100% increase in user engagement.
      </li>
      <li class="mb-2">
        Optimized operational efficiency with an intuitive admin panel,
        resulting in a 50% reduction in content management time.
      </li>
      <li class="mb-2">
        Created an order management framework that streamlined purchase
        workflows, allowing for integration with PayPal, credit card and bank
        transfer payments, increasing completed transactions by 90% and boosting
        sales.
      </li>
    </ul>
  </TimeLineElement>
</div>

<div id="skills" class="mb-5">
  <div class="text-3xl w-full font-bold">Hard Skills</div>
</div>

<ul class="md:columns-5 columns-2 mx-6 mb-10">
  <li>TypeScript</li>
  <li>JavaScript</li>
  <li>Angular</li>
  <li>React</li>
  <li>HTML5</li>
  <li>CSS3</li>
  <li>Scss</li>
  <li>Bootstrap</li>
  <li>Node & Express</li>
  <li>Git</li>
  <li>UI/UX</li>
  <li>Testing</li>
</ul>

<div class="mb-5">
  <div class="text-3xl w-full font-bold">Soft Skills</div>
</div>

<ul class="md:columns-5 columns-2 mx-6 mb-10">
  <li>Communication</li>
  <li>Critical thinking</li>
  <li>Emotional Intelligence</li>
  <li>Growth mindset</li>
  <li>Leadership</li>
  <li>Problem-solving</li>
</ul>

<div id="education" class="mb-5">
  <div class="text-3xl w-full font-bold">Education</div>
</div>

<div class="time-line-container grid gap-4 mb-10">
  <TimeLineElement
    title="Harvard University (CS50 Courses)"
    subtitle="Sep 2022 - Feb 2023 on edX Platform "
  />
  <TimeLineElement
    title="Bachelor's Degree Transport And Traffic Engineering"
    subtitle="2019 to 2021 at Technical University Of Cluj-Napoca, Cluj-Napoca, Romania"
  />
  <TimeLineElement
    title="Baccalauréat Diploma - Computing Technician Operator"
    subtitle="2015 to 2019 at Petru Maior High School, Mures, Romania"
  />
</div>

<div class="mb-5">
  <div class="text-3xl w-full font-bold">Courses</div>
</div>

<ul class="list-disc mx-6 mb-10 grid gap-2">
  <li>
    <a
      href="https://frontendmasters.com/courses/fullstack-app-next-v3/"
      target="_blank">AI-Powered Fullstack Next.js App</a
    >
  </li>
  <li>
    <a href="https://frontendmasters.com/courses/next-js-v3/" target="_blank"
      >Introduction to Next.js 13</a
    >
  </li>
  <li>
    <a
      href="https://www.edx.org/learn/computer-programming/edx-ai-applications-and-prompt-engineering"
      target="_blank">AI Applications and Prompt Engineering</a
    >
  </li>
  <li>
    <a
      href="https://frontendmasters.com/courses/javascript-hard-parts-v2/"
      target="_blank">JavaScript: The Hard Parts, v2</a
    >
  </li>
  <li>
    <a href="https://frontendmasters.com/courses/algorithms/" target="_blank"
      >The Last Algorithms Course You'll Need</a
    >
  </li>
  <li>
    <a
      href="https://www.udemy.com/certificate/UC-d7f3773c-b09b-4dea-8a0c-c2c07dc3cd82/"
      target="_blank">Angular and NgRx</a
    >
  </li>
  <li>
    <a
      href="https://udemy.com/certificate/UC-354e73cf-a5b6-44da-8ee9-30a77ae71d15/"
      target="_blank">Angular Forms In Depth</a
    >
  </li>
  <li>
    <a
      href="https://udemy.com/certificate/UC-5941e206-1130-4474-b3c3-2802854e6019/"
      target="_blank">Angular Progressive Web Apps (PWA)</a
    >
  </li>
  <li>
    <a
      href="https://udemy.com/certificate/UC-2ef030e4-6a25-4700-9867-0dfadd729fb7/"
      target="_blank">Reactive Angular Course (with RxJs)</a
    >
  </li>
  <li>
    <a
      href="https://www.udemy.com/certificate/UC-66cd7fa0-4577-4d01-84ec-f8af1a160158/"
      target="_blank">Angular - The Complete Guide (2023 Edition)</a
    >
  </li>
  <li>
    <a
      href="https://www.udemy.com/certificate/UC-a3035b96-f3cd-4077-a098-96805c7256b4/"
      target="_blank">Angular Core Deep Dive - Beginner to Advanced</a
    >
  </li>
  <li>
    <a href="https://app.kajabi.com/certificates/6a7e91af" target="_blank"
      >API Masterclass - Node.js with Express & MongoDB
    </a>
  </li>
  <li>
    <a href="https://app.kajabi.com/certificates/427f01b7" target="_blank"
      >Modern JavaScript 2.0</a
    >
  </li>
  <li>
    <a
      href="https://courses.edx.org/certificates/0dac4698d7a34fc98a57a23479b2e12e"
      target="_blank"
      >CS50W: CS50's Web Programming with Python and JavaScript</a
    >
  </li>
  <li>
    <a
      href="https://www.udemy.com/certificate/UC-b112fdf4-7079-4720-8a7a-46add4a18c72/"
      target="_blank">Python Django - Complete Course</a
    >
  </li>
  <li>
    <a
      href="https://www.udemy.com/certificate/UC-63eb50be-97ec-43e6-9131-5ea17d1349b8/"
      target="_blank">Django with React</a
    >
  </li>
  <li>
    <a
      href="https://courses.edx.org/certificates/fff2d731b74249df92e7fdc5e75c4565"
      target="_blank">CS50x: CS50's Introduction to Computer Science</a
    >
  </li>
  <li>
    <a
      href="https://www.udemy.com/certificate/UC-b53ce466-1eac-4f15-a8ab-ad9d05350e7c/"
      target="_blank">React Front To Back 2022</a
    >
  </li>

  <li>
    <a
      href="https://freecodecamp.org/certification/mihaiwebdev/javascript-algorithms-and-data-structures"
      target="_blank">JavaScript Algorithms and Data Structures</a
    >
  </li>

  <li>
    <a
      href="https://www.udemy.com/certificate/UC-c201df7a-da5e-49fa-8862-c1f36dcaaebd/"
      target="_blank">20 Web Projects with Vanilla JavaScript</a
    >
  </li>

  <li>
    <a
      href="https://www.udemy.com/certificate/UC-802e3778-43a5-49bc-9e7c-ff989ab80935/"
      target="_blank">Modern JavaScript</a
    >
  </li>

  <li>
    <a
      href="https://www.udemy.com/certificate/UC-5c3c2424-853c-4021-9bcb-3fe5e49c155c/"
      target="_blank">Modern HTML & CSS</a
    >
  </li>
</ul>
