---
import TimeLineElement from "./cv/TimeLine.astro";
---

<div id="experience" class="mb-5 mt-10">
  <div class="text-3xl w-full font-bold">Experience</div>
</div>

<div class="time-line-container mb-10">
  <TimeLineElement
    title="Front-End Developer"
    subtitle="From Aug 2023 - Present at Atruvia AG, Remote"
  >
    <p class="mb-5">
      ✅ The client, Atruvia AG, a software company within the cooperative
      financial network, struggled to manage their ongoing project, resulting in
      missed deadlines and falling behind on technology updates.
    </p>
    <ul class="list-disc ms-5 mb-3">
      <li class="mb-2">
        <span class="font-semibold">Led the migration</span> of the application to
        the latest Angular standards, which led to the removal of 44 obsolete files,
        accelerated build times, reduced complexity, and facilitated a more streamlined
        approach for future development.
      </li>
      <li class="mb-2">
        <span class="font-semibold">Successfully implemented</span> functionalities
        within deadlines while maintaining high standards of quality, <span
          class="font-semibold">increasing development speed by 30%</span
        >
        and positioning the project to meet its release deadline.
      </li>
    </ul>
  </TimeLineElement>

  <TimeLineElement
    title="Front-End Developer"
    subtitle="From Nov 2023 - Jul 2024 at Accesa.eu, Cluj-Napoca, Romania, Hybrid"
  >
    <p class="mb-5">
      ✅ The client, accesa.eu, a software solutions provider, sought to develop
      a tool leveraging generative AI to streamline and reduce the manual
      efforts involved in finance and banking operations.
    </p>
    <ul class="list-disc ms-5 mb-3">
      <li class="mb-2">
        <span class="font-semibold">Collaborated</span> with UX/UI designers and
        backend developers to implement pixel-perfect designs and integrate RESTful
        APIs, improving overall product cohesion.
      </li>
      <li class="mb-2">
        <span class="font-semibold">Developed custom reusable components</span> in
        Angular, cutting development time for new feature and ensuring consistent
        UI across the platform.
      </li>
      <li class="mb-2">
        <span class="font-semibold">Automated key development processes</span> ,
        including the generation of API services and models with OpenAPI, reducing
        manual workload by 15%.
      </li>
    </ul>
  </TimeLineElement>

  <TimeLineElement
    title="Front-End Developer"
    subtitle="From Jul 2023 - Oct 2023 at Accesa.eu, Cluj-Napoca, Romania, Hybrid"
  >
    <p class="mb-5">
      ✅ The client, accesa.eu, a software solutions provider, aimed to develop
      an office management tool to streamline and manage employee office supply
      requests across all locations.
    </p>
    <ul class="list-disc ms-5 mb-3">
      <li class="mb-2">
        <span class="font-semibold">Led the implementation of key features</span
        >, including the core application functionality for request management,
        and resolved complex integration challenges, such as integrating with
        the in-house authentication server.
      </li>
      <li class="mb-2">
        <span class="font-semibold">Strengthened team efficiency</span> and knowledge
        sharing by helping and coordinating less experienced colleagues, gave and
        accepted both positive and constructive feedback, demonstrating strong interpersonal
        skills and leadership.
      </li>
    </ul>
  </TimeLineElement>

  <TimeLineElement
    title="Full-Stack Developer - Freelance"
    subtitle="From Mar 2023 - May 2023 on Upwork, Remote"
  >
    <p class="mb-5">
      ✅ The client, a small bookstore, aimed to enhance their online
      visibility, sell books through digital channels, and boost their sales.
    </p>
    <ul class="list-disc ms-5 mb-3">
      <li class="mb-2">
        <span class="font-semibold">Developed an E-Commerce website</span> with advanced
        user functionalities, achieving a 100% increase in user engagement.
      </li>
      <li class="mb-2">
        <span class="font-semibold"
          >Facilitated a rise in completed transactions</span
        > by implementing an order management system, enabling books and e-books
        purchases via PayPal or credit card.
      </li>
      <li class="mb-2">
        <span class="font-semibold">Optimised operational efficiency</span> with
        an intuitive admin panel, resulting in a 50% reduction in content management
        time.
      </li>
    </ul>
  </TimeLineElement>
</div>

<div id="skills" class="mb-5">
  <div class="text-3xl w-full font-bold">Hard Skills</div>
</div>

<ul class="md:columns-5 columns-2 mx-6 mb-10">
  <li>TypeScript</li>
  <li>JavaScript</li>
  <li>Angular</li>
  <li>React</li>
  <li>HTML5</li>
  <li>CSS3</li>
  <li>Scss</li>
  <li>Bootstrap</li>
  <li>Node & Express</li>
  <li>Git</li>
  <li>UI/UX</li>
  <li>Testing</li>
</ul>

<div class="mb-5">
  <div class="text-3xl w-full font-bold">Soft Skills</div>
</div>

<ul class="md:columns-5 columns-2 mx-6 mb-10">
  <li>Communication</li>
  <li>Critical thinking</li>
  <li>Emotional Intelligence</li>
  <li>Growth mindset</li>
  <li>Leadership</li>
  <li>Problem-solving</li>
</ul>

<div id="education" class="mb-5">
  <div class="text-3xl w-full font-bold">Education</div>
</div>

<div class="time-line-container grid gap-4 mb-10">
  <TimeLineElement
    title="Harvard University (CS50 Courses)"
    subtitle="Sep 2022 - Feb 2023 on edX Platform "
  />
  <TimeLineElement
    title="Bachelor's Degree Transport And Traffic Engineering"
    subtitle="2019 to 2021 at Technical University Of Cluj-Napoca, Cluj-Napoca, Romania"
  />
  <TimeLineElement
    title="Baccalauréat Diploma - Computing Technician Operator"
    subtitle="2015 to 2019 at Petru Maior High School, Mures, Romania"
  />
</div>

<div class="mb-5">
  <div class="text-3xl w-full font-bold">Courses</div>
</div>

<ul class="list-disc mx-6 mb-10 grid gap-2">
  <li>
    <a href="https://frontendmasters.com/courses/openai-node/" target="_blank"
      >AI-Powered Apps with OpenAI and Node.js</a
    >
  </li>
  <li>
    <a
      href="https://frontendmasters.com/courses/fullstack-app-next-v3/"
      target="_blank">AI-Powered Fullstack Next.js App</a
    >
  </li>
  <li>
    <a href="https://frontendmasters.com/courses/next-js-v3/" target="_blank"
      >Introduction to Next.js 13</a
    >
  </li>
  <li>
    <a
      href="https://www.edx.org/learn/computer-programming/edx-ai-applications-and-prompt-engineering"
      target="_blank">AI Applications and Prompt Engineering</a
    >
  </li>
  <li>
    <a
      href="https://frontendmasters.com/courses/javascript-hard-parts-v2/"
      target="_blank">JavaScript: The Hard Parts, v2</a
    >
  </li>
  <li>
    <a href="https://frontendmasters.com/courses/algorithms/" target="_blank"
      >The Last Algorithms Course You'll Need</a
    >
  </li>
  <li>
    <a
      href="https://www.udemy.com/certificate/UC-d7f3773c-b09b-4dea-8a0c-c2c07dc3cd82/"
      target="_blank">Angular and NgRx</a
    >
  </li>
  <li>
    <a
      href="https://udemy.com/certificate/UC-354e73cf-a5b6-44da-8ee9-30a77ae71d15/"
      target="_blank">Angular Forms In Depth</a
    >
  </li>
  <li>
    <a
      href="https://udemy.com/certificate/UC-5941e206-1130-4474-b3c3-2802854e6019/"
      target="_blank">Angular Progressive Web Apps (PWA)</a
    >
  </li>
  <li>
    <a
      href="https://udemy.com/certificate/UC-2ef030e4-6a25-4700-9867-0dfadd729fb7/"
      target="_blank">Reactive Angular Course (with RxJs)</a
    >
  </li>
  <li>
    <a
      href="https://www.udemy.com/certificate/UC-66cd7fa0-4577-4d01-84ec-f8af1a160158/"
      target="_blank">Angular - The Complete Guide (2023 Edition)</a
    >
  </li>
  <li>
    <a
      href="https://www.udemy.com/certificate/UC-a3035b96-f3cd-4077-a098-96805c7256b4/"
      target="_blank">Angular Core Deep Dive - Beginner to Advanced</a
    >
  </li>
  <li>
    <a href="https://app.kajabi.com/certificates/6a7e91af" target="_blank"
      >API Masterclass - Node.js with Express & MongoDB
    </a>
  </li>
  <li>
    <a href="https://app.kajabi.com/certificates/427f01b7" target="_blank"
      >Modern JavaScript 2.0</a
    >
  </li>
  <li>
    <a
      href="https://courses.edx.org/certificates/0dac4698d7a34fc98a57a23479b2e12e"
      target="_blank"
      >CS50W: CS50's Web Programming with Python and JavaScript</a
    >
  </li>
  <li>
    <a
      href="https://www.udemy.com/certificate/UC-b112fdf4-7079-4720-8a7a-46add4a18c72/"
      target="_blank">Python Django - Complete Course</a
    >
  </li>
  <li>
    <a
      href="https://www.udemy.com/certificate/UC-63eb50be-97ec-43e6-9131-5ea17d1349b8/"
      target="_blank">Django with React</a
    >
  </li>
  <li>
    <a
      href="https://courses.edx.org/certificates/fff2d731b74249df92e7fdc5e75c4565"
      target="_blank">CS50x: CS50's Introduction to Computer Science</a
    >
  </li>
  <li>
    <a
      href="https://www.udemy.com/certificate/UC-b53ce466-1eac-4f15-a8ab-ad9d05350e7c/"
      target="_blank">React Front To Back 2022</a
    >
  </li>

  <li>
    <a
      href="https://freecodecamp.org/certification/mihaiwebdev/javascript-algorithms-and-data-structures"
      target="_blank">JavaScript Algorithms and Data Structures</a
    >
  </li>

  <li>
    <a
      href="https://www.udemy.com/certificate/UC-c201df7a-da5e-49fa-8862-c1f36dcaaebd/"
      target="_blank">20 Web Projects with Vanilla JavaScript</a
    >
  </li>

  <li>
    <a
      href="https://www.udemy.com/certificate/UC-802e3778-43a5-49bc-9e7c-ff989ab80935/"
      target="_blank">Modern JavaScript</a
    >
  </li>

  <li>
    <a
      href="https://www.udemy.com/certificate/UC-5c3c2424-853c-4021-9bcb-3fe5e49c155c/"
      target="_blank">Modern HTML & CSS</a
    >
  </li>
</ul>
